.cl-internal-1dauvpw{
    display: none;
}
.cl-internal-1pnppin{
    background-color: green;
}
button{
    background-color: green;

}
.cl-formButtonPrimary{
    background-color: green;

}
.__className_d65c78{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
}